.layout-bg{
    background-image: url('../../assets/layout/banner.png');
 height: 8vh;
 background-repeat: no-repeat;
 background-size: 100% 100%;

}

.layout-flex{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
}

.layout-title{
    font-size: 34px;
    color: #fff;
}