.layout-bg {
    background-image: url('../../assets/header.png');
    height: 6vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* width: 1920px; */
    height: 80px;
}

.layout-flex {
    padding: 0px 24px;
    display: flex;
    align-items: center;

    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.layout-title {
    font-family: 'DingTalk JinBuTi';
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    width: 360px;
    text-align: center;

    background: linear-gradient(180deg, #FFFFFF 0%, #85D4D9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    text-shadow: 0px 0px 16px #27719B;
}

.layout-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-title {
    display: flex;
    flex-direction: row;
    gap: 66px
}

.left-title a {
    color: #ffff;
    text-decoration: none;
    padding: 2px 8px;
    font-size: 24px;
    background-repeat: no-repeat;
    width: 124px;
    height: 48px;
    line-height: 44px;
}

.left-detail a {
    text-decoration: none;
    color: #9ebbcb;

}

.middle-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 86px;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    opacity: 0.7;
    height: 60px;
    color: #fff;
}

.layout-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-detail {
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: #9ebbcb;
    font-weight: bold;
    width: 856px;
}