.enter-btn {
    text-align: center;
    width: 300px;
    height: 48px;
    line-height: 48px;
    border: 1px solid rgba(22, 91, 101, 1);
    border-radius: 2px;
    font-size: 18px;
    color: #9ebbcb;

    font-weight: bold;
    background: linear-gradient(269.99999873389464deg, rgba(40, 135, 129, 1) 0%, rgba(32, 154, 181, 1) 100%);
}

.enter-box a {
    text-decoration: none;
}

.enter-box {
    width: 700px;
    height: 1000px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 150px;
}

.enter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url(../../assets/rectangle_49_u4.svg);
    background-size: 100% 100%;
}

.enter-title {
    font-family: 'DingTalk JinBuTi';
    font-style: italic;
    font-weight: 400;
    font-size: 65px;
    text-align: center;
    background: linear-gradient(180deg, #FFFFFF 0%, #85D4D9 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}