.box-container{
    width: 360px;
    background: linear-gradient(180deg, #0B323A 0%, rgba(11, 52, 69, 0.4) 100%);
/* box-shadow: 0px 0px 16px rgba(14, 39, 47, 0.6); */
backdrop-filter: blur(px);
border-radius: 4px;
border:1px solid
}

.box-title{
    height: 30px;
    padding: 8px 16px;
    border:1px solid

}

.box-content{
    padding: 16px;
}