.login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-box{
  width: 554px;
  height: 532px;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;


}

.login-detail{
  justify-content: space-around;
  flex-direction: column;
  display: flex;
  padding: 32px;
  color: #fff;
  background: linear-gradient(180deg, #0B323A 0%, rgba(11, 52, 69, 0.4) 100%);
  box-shadow: 0px 0px 16px rgba(14, 39, 47, 0.6);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 4px;
  height: 200px;
  width: 300px;
}
.login-box-title{
  height: 50px;
  width: 100%;
  text-align: center;

  color:#fff;
  font-size: 36px;
  margin-top: 64px;
}

.login-button{
  background: linear-gradient(270deg, #288781 0%, #209AB5 100%);
border: 1px solid #165B65;
border-radius: 2px;
}

.login-box .ant-form-item:nth-child(1),
.login-box .ant-form-item:nth-child(2){
  width: 358px;
  height: 57px;
  margin-left: 97px;
}
.login-box .ant-col-14 .ant-form-item {
  width: 210px;
  background-size: 100% 100%;
}
.login-box .ant-input-password{
  background: none;
}
.login-box .ant-form-item:nth-child(3){
  margin-bottom: 0;
}
.login-box input{
  height: 47px;
  font-size: 14px;
}
.login-form{
  margin-top: 43px;
}
.login-form .ant-form-item{
  margin-bottom: 24px;
}
.login-form .ant-form-item:nth-child(4){
  margin-bottom: 0;
}
.login-form .ant-form-item:nth-child(5){
  margin-bottom: 0;
}
.login-form .ant-input-affix-wrapper{
  padding-left: 21px;
  border: none;
  box-shadow: none;
}
.login-form .ant-input-prefix{
  margin-right: 12px;
}
.login-form input::placeholder{
  font-size: 14px;
}
.login-form .ant-form-item-explain{
  visibility: hidden;
}
.login-form .ant-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.login-form .ant-checkbox-inner {
  border: 1px solid #0166ff;
}
.content-login{
  /* background: url("../../assets/login_bg.png") no-repeat center; */
  background-size: 100% auto;
  height: 100%;
  align-items: center;
  justify-items: center;
}
.padding-t-6{
  padding-top: 4px;
}
